@import "./fonts.css";
@import "tailwindcss";
@import "./theme.css";
@import "./mspbotsui.css";

/* Color variables are injected dynamically from registry-colors.ts */
/* See: src/utils/inject-colors.ts */
